body {
    font-size: 2rem;
    width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template:
        "... ...... ...... ...... ...... ...... ..." auto
        "... header header header header header ..." 150px
        "... ...... ...... ...... ...... ...... ..." 10px
        "... left   ...... center ...... right  ..." 1fr
        "... ...... ...... ...... ...... ...... ..." 10px
        "...footer footer footer footer footer  ..." 100px
        "... ...... ...... ...... ...... ...... ..." auto
        / 20px 200px 20px auto 20px 200px 20px;
}

header {
    grid-area: header;
    background-color: whitesmoke;
}

main {
    grid-area: center;
    background-color: whitesmoke;
}

nav {
    grid-area: left;
    background-color: whitesmoke;
    font-size: 30px;
    align-items: center;
}

aside {
    grid-area: right;
    background-color: whitesmoke;
}

footer {
    grid-area: footer;
    background-color: whitesmoke;
}

.menu {
    list-style: none;
    text-align: center;
}